html {
    font-size: 16px;
}

/*Voy a usar mediasquery para hacer adaptable la letra a un dispositivo diferente*/
@media screen and(wax-width:400px) {
    html {
        font-size: 9.4117444444444444px;
    }
}

/*Altura*/
html,
body {
    height: 100%;
}

/*Editamos el cuerpo con el tipo de letra y fondo, el comando font-family es 
importante usar el mismo nombre que aparece en el codigo de Google font*/
body {
    background: #000000;
    font-family: "Edu AU VIC WA NT Dots";
    /*El numero que utilicemos dentro del comanto font-size es multiplicado 
    por la letra padre "16px" siempre y cuando utilicemos rem al final del numero escrito*/
    font-size: 1.7rem;
    font-size: normal;
    /*En base a la linea que copiamos y pegamos en "base.css" proveniente 
    de google fonts nosotros utilizaremos la medida dada.*/
    font-weight: 700;
    line-height: 1.882;
    color: rgb(44, 255, 2);
    /*Margin nos da un espacio desde el contenedor para afuera, margenes exteriores*/
    margin: 0;
    /*Padin es margenes interiores*/
    padding: 0;
}

/*Estilos a li=os links*/
a {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
    color: #f112d3;
}

/*focus es brillo*/
/*active lo activa xd*/
/*funcion hover*/
a:hover,
a:active{
    outline: 0;
}
/*tipografia*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Frank Ruh1 libre", serif;
    font-weight: 500;
    font-style: normal;
    color: #ffff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4 {
    margin-top: 6rem;
    margin-bottom: 16rem;

}

@media screen and (max-width:600px) {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4 {margin-top: 6rem;
    }
}
h5, .h5, h6, .h6{
    margin-top: 4.8rem;
    margin-bottom: 1.2rem;
}

/*Estilos del Header*/
.s-header{
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    border: 1px solid white;
    height: 78px;
    text-align: center;
}
.s-header.sticky{
    background: #050505;
    position: fixed;
    top: 0;
    left: 0;
}

.header-logo{
    display: inline-block;
    margin: 6px 0 0 0;
    position: absolute;
    top: 50%;
    left: 40px;
}
.header-logo a{
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    transition: all .3s;
}

.header-logo img{
    width: 132px;
    height: 36px;
    margin: 0;
}
.header-nav-wrap{
    display: inline-block;
}
.header-nav-wrap ul{
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-top: 18px;
}
.header-nav-wrap li{
    display: inline-block;
    padding-left: 0;
}
.header-nav-wrap li a{
    display: block;
    line-height: calc(78px -(18px*2));
}